<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- VINCULACION EXTERNA TIPOGRAFIA LATO DE GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet" />
        <!-- VINCULACIÓN EXTERNA ICONOS -->
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        
        <link rel="stylesheet" href="/styles/sobreMi.css">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>CV Alexa Bautista</title>
        
</head>

<body>
    <main>
        <!-- BANNER -->
        <header class="banner">
        </header>
    <!-- NAV CON REDIRECCIONAMIENTO -->
        
    <nav>
            <ul>
                <li><a href="./sobreMi.html">Sobre Mí</a></li>
                <li><a href="/Index.html">Inicio</a></li>
            </ul>
        </nav>
        <div class="contenedorInfo">

            <div class="contenedorInformacion">
        <div class="fotoAlexa">
        <img src="/public/image/Alexa .jpeg"
            alt="Alexa Bautista" />
        </div>
        <p class="title">CURRICULUM VITAE ALEXA BAUTISTA</p>
        <section class="datosPersonales">
            <p class="subTitle">DATOS PERSONALES</p>
            <ul>
                <li>
                    <b class="cursiva">Nombre completo:</b> Alexa Ivannova Bautista
                    Ramirez>
                </li>
                <li><b class="cursiva">Fecha de nacimiento:</b> 23/03/1994</li>
                <li><b class="cursiva">Lugar de nacimiento:</b> Bogotá</li>
            </ul>
        </section>
        <section class="formacion">
            <p class="subTitle">FORMACIÓN ACADEMICA</p>
            <ul>
                <li>
                    <b class="cursiva">Universidad Autonoma de Colombia:</b> Profesional
                    en Diseño Industrial
                </li>
                <li><b class="cursiva">SENA:</b> Tecnologa en Gestión de Mercados</li>
            </ul>
        </section>
        <section class="experiencia">
            <p class="subTitle">EXPERIENCIA LABORAL</p>
            <ul>
                <li>
                    <b class="cursiva"> Asistir Seguros Agencia:</b> Julio 2021 /
                    Acualidad
                </li>
                <li><b class="cursiva"> UNAL: </b> Febrero 2019 / Octubre 2023</li>
            </ul>
        </section>
        </div>
        <!-- SECCIÓN DEL FOOTER -->
        <footer>
            <ul class="redesSociales">
                <li > <a ref="https://github.com/Alexa-Bautista" <i class='bx bxl-github iconRedes'></i> </a>
                </li>
    
                <li > <a href="https://www.linkedin.com/in/alexa-ivannova-bautista-ramirez/" <i class='bx bxl-linkedin iconRedes'></i> </a>
                </li>
            </ul>
        </footer>
    </main>
</body>

</html>